<!DOCTYPE html>
<html>
<head>
    <title>My Downloads</title>
</head>
<body style="font-family:Arial; padding:30px; background:#f4f6f8;">

<h1>📥 My Download Files</h1>

<table border="1" cellpadding="10" cellspacing="0" style="background:white; border-collapse:collapse; width:100%;">
    <tr>
        <th>Title</th>
        <th>File</th>
        <th>Type</th>
        <th>Date</th>
        <th>Download</th>
    </tr>

    {% for file in files %}
    <tr>
        <td>{{ file[0] }}</td>
        <td>{{ file[1] }}</td>
        <td>{{ file[2] }}</td>
        <td>{{ file[3] }}</td>
        <td><a href="/client-files/{{ file[1] }}" target="_blank">Download</a></td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/client-portal">Back to Client Portal</a>

</body>
</html>