<!DOCTYPE html>
<html>
<head>
    <title>Client Register</title>
</head>
<body style="font-family:Arial; padding:30px;">

<h1>Client Registration</h1>

<form method="POST">
    <p>Client Name</p>
    <input name="client_name" required>

    <p>Mobile</p>
    <input name="mobile" required>

    <p>Email</p>
    <input name="email">

    <p>Username</p>
    <input name="username" required>

    <p>Password</p>
    <input type="password" name="password" required>

    <br><br>
    <button type="submit">Register</button>
</form>

<br>
<a href="/">Back to Login</a>

</body>
</html>